<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>

    <body>

        <div th:replace="fragments :: page-header"></div>

        <div class="container body-content">
            <h1 th:text="${#strings.capitalizeWords(title)}"></h1>
        </div>

        <table th:fragment = "display-table" class="job-listing" th:each="job : ${jobs}">
            <tr>
                <td><b>ID: </b></td>
                <td th:text = "${job.getId()}"></td>
            </tr>
            <tr>
                <td><b>Name: </b></td>
                <td th:text = "${job.getName()}"></td>
            </tr>
            <tr>
                <td><b>Employer: </b></td>
                <td th:text = "${job.getEmployer()}"></td>
            </tr>
            <tr>
                <td><b>Location: </b></td>
                <td th:text = "${job.getLocation()}"></td>
            </tr>
            <tr>
                <td><b>Position Type: </b></td>
                <td th:text = "${job.getPositionType()}"></td>
            </tr>
            <tr>
                <td><b>Skill: </b></td>
                <td th:text = "${job.getCoreCompetency()}"></td>
            </tr>
        </table>

    </body>
</html>